* {
    transition: 0.1s;
}

a:link  {
    color:rgb(255, 68, 199);
    font-weight: bold;
}
a:hover {
    color: rgb(215, 0, 243);
  }

  a:visited {
    background-color: transparent;
  }

body    {
    justify-content: space-evenly;
    position: relative;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    
}     

#bgColor {
    background-color: rgb(255, 239, 251);
    min-height: 100vh;
    width: 100%;
}

header  {
    background-color: rgb(255, 247, 252);
    /* width: 100%; */
    width: auto;  
    padding: 2%;
    padding-left: 2%;
    line-height: 30px;
    text-align: left;
    font-size: 30px;
}

#darkmode   {
    border: none;
    border-radius: 35%;
    margin-top: 30px;
    width: 50px;
    height: 50px;

    background-color: rgb(115, 2, 143);
    color: rgb(250, 233, 246);
    font-size: 25px;
    cursor: pointer;
}

h1  {
    color:rgb(221, 76, 163);
}
h5  {
    color:rgb(197, 69, 129);
    font-size: 25px;
}


#content    {
    background-color: #f5d2ed;
    /* width: 90%; */
    display: flex;
    flex-flow: column;
    height: 50%;
    padding: 5%;
    
    margin: 1%;

}


#flexing    {
    display: flex;
}

aside     {
    border: rgb(222, 155, 211) solid 2px;
    width: 250px;
    height: 300px;
    border-radius: 20px;
    background-color: rgb(222, 155, 211);
    color: rgb(156, 21, 127);
    padding: 2%;
    margin-top: 40px;
    text-align: center;
}


#right {
    width: 70%;
}

.tab    {
    overflow: hidden;
/* 
    background-color: rgb(244, 155, 229);
    border-radius: 10px;
    
    margin-left: 50%;
    margin-right: 20%; 
*/
    margin-right: 16px; 
}

.tab .tablinks.about {
    border-radius: 10px 0 0 0px;
}

.tab .tablinks.contacts {
    border-radius: 0 10px 0px 0;
}

.tab button {
    color:rgb(131, 10, 131);
    font-weight: bold;
    font-size: 16px;

    /* background-color: inherit; */
    background-color: rgb(244, 155, 229);
    float: right;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }

  .tab button:hover {
    background-color: rgb(252, 223, 245);
  }

  .tab button.active {
    background-color: rgb(253, 187, 255);
  }
  


article     {  
    border: rgb(235, 22, 199) solid 2px;
    border-radius: 20px;

    /* width: 70%; */
    min-width: 200px;
    margin-left: 5%;

    padding-left: 4%;
    padding-right: 4%;
    padding-top: 1%;
    padding-bottom: 1%;

    color: rgb(148, 5, 141);
    font-size: 1.5em;
    line-height: 30px;
    font-family:Helvetica;
}


#footer {
    position: fixed;
    bottom: 0%;
    width: 100%;
    height: 2.5rem;

    color:rgb(250, 233, 246);
    background:rgb(3,3,3); 
    text-align: center;
}
